@keyframes appear-animation {
	from {
		transform: translate(-100px);
		opacity: 0;
	}
	to {
		transform: translate(0px);
		opacity: 1;
	}
}

.game-contents {
	/* animation: appear-animation .2s ease-out; */
	transition: 0.2s;
	display: flexbox;
	height: fit-content;
	background-color: aqua;
}

.game-contents.description {
	justify-self: flex-start;
}
